# Scraping the names and ratings of top rated indian movies on IMDB

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# Now we will bring all the html source data of the website
page = requests.get("https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=01V32SN719ETJSYHCDDF&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_hd")

In [3]:
# Now we will parse the HTML data and will present it to us
soup = BeautifulSoup(page.content, 'html.parser')

In [5]:
# print(soup.prettify)

In [9]:
table = soup.find(class_ = "lister-list")

In [8]:
# print(table)

In [10]:
items = table.find_all("tr")

In [16]:
print(items[0].find(class_ = "titleColumn").get_text())

      1.
      Pather Panchali
(1955)

In [13]:
print(items[0].find(class_ = "ratingColumn imdbRating").get_text())

8.5

In [17]:
Title = [item.find(class_ = "titleColumn").get_text() for item in items]

In [72]:
# Title

In [21]:
# Removing all the new line characters from each string
Title_New = [i.replace("\n", "") for i in Title]

In [73]:
# Title_New

In [60]:
# Removing the count of Movies from the starting
Title_New1 = [i[i.index(".")+1:] for i in Title_New]

In [70]:
# Title_New1

In [62]:
# Removing the white spaces from the starting
Title_New2 = [i.lstrip() for i in Title_New1]

In [69]:
# Title_New2

In [29]:
Rating = [item.find(class_ = "ratingColumn imdbRating").get_text() for item in items]

In [74]:
# Rating

In [31]:
# Removing all the New Line Characters
Rating_new = [i.replace("\n", "") for i in Rating]

In [75]:
# Rating_new

In [64]:
# Loading the Movie Data into a Dataframe
Top_Movies = pd.DataFrame({
    "Movie Name" : Title_New2,
    "IMDB Rating" : Rating_new, 
})

In [65]:
Top_Movies

                              Movie Name IMDB Rating
0                  Pather Panchali(1955)         8.5
1                          Nayakan(1987)         8.5
2                Pariyerum Perumal(2018)         8.5
3                       Anbe Sivam(2003)         8.5
4                          Golmaal(1979)         8.5
..                                   ...         ...
245             Kuch Kuch Hota Hai(1998)         7.5
246                   Jodhaa Akbar(2008)         7.5
247                        Trapped(2016)         7.5
248  Parmanu: The Story of Pokhran(2018)         7.5
249                    Delhi Belly(2011)         7.5

[250 rows x 2 columns]

In [67]:
# Sending the MOvie and their ratings to a csv file

Top_Movies.to_csv("Top_Movies1.csv")